$quinaPrimary: #250181;
$quinaBall: #250181;
$quinaBallNumber: #fff;
$timemaniaPrimary: #00ff48;
$timemaniaBall: #fff600;
$timemaniaBallNumber: #049645;
$megasenaPrimary: #209869;
$megasenaBall: #209869;
$megasenaBallNumber: #fff;
$lotofacilPrimary: #930089;
