@import "./colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  padding-top: 12px;
  padding-left: 12px;
}

ul {
  list-style-type: none;
}

hr {
  width: 110%;
  height: 0.01px;
  border-top-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: lightgray;
  display: block;
  border-color: lightgray;
}

.quinaPrimary {
  color: $quinaPrimary;
}

.quinaBall {
  background: $quinaPrimary
}

.quinaBallNumber {
  color: $quinaBallNumber
}

.timemaniaPrimary {
  color: $timemaniaPrimary
}

.timemaniaBall {
  background: $timemaniaBall
}

.timemaniaBallNumber {
  color: $timemaniaBallNumber
}

.mega-senaPrimary {
  color: $megasenaPrimary
}

.mega-senaBall {
  background: $megasenaPrimary
}

.mega-senaBallNumber {
  color: $quinaBallNumber
}

.lotofacilPrimary {
  color: $lotofacilPrimary
}
