.lotteryInfo {
  margin-left: 16px;
  max-width: 300px;
}

.lotteryName {
  color: #930089;
  font-size: 32px;
  font-weight: bold;
}

.lotteryNextDate {
  color: #4c556c;
  margin-top: 25px;
  font-size: 16px;
}

.lotteryPrize {
  color: #930089;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}
