@import "../../../styles/global.scss";

.contentWrap {
  margin-left: 52px;
}

.lotteryNextDate {
  color: #4c556c;
  margin-top: 25px;
  font-size: 16px;
}

.lotteryPrize {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}
