.lotteryResult {
  .lotteryResultWinner {
    font-size: 26px;
    font-weight: bold;
    color: #0066b3;
    margin-right: 16px;
    text-transform: uppercase;
    margin-top: 24px;
  }

  .lotteryResultInfo {
    color: #4c556c;
    margin-top: 32px;
    font-size: 16px;
  }

  .lotteryResultGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.1rem 0rem;
    background-color: #ddd;
    padding: 0;
    margin-right: -64px;
  }

  .lotteryResultNumber {
    color: #930089;
    font-size: 32px;
    align-self: center;
    text-align: center;
    background-color: #fff;
    padding-bottom: 12px;
  }
}
